:root {
  --bg-color: hsl(120, 100%, 50%);
  --btn-green: #7dcd40;
  --btn-red: #ff4842;
  --btn-gray: rgba(250, 240, 250, 0.2);
  --bg-black: #213;
  --text-white: #c1c1c1;
  --text-white-menu: #f1f1f1;
  --link-blue: #056fff;
  --link-blue-twitter: rgba(29, 161, 242);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial;
}

.btn {
  background: var(--btn-gray);
  color: white;
  padding: 5px 10px 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.btn.btn-red {
  background: #ff4842;
}

.btn.btn-green {
  background: #7dcd40;
}

.btn.btn-light {
  border: 1px solid #7dcd40;
  color: #7dcd40;
  padding: 5px 20px;
  background: none;
  box-shadow: none;
}

.btn.btn-light.btn-light-blue {
  border: 1px solid #056fff;
  color: #056fff;
}

.btn:active {
  transform: scale(0.7);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0);
}

.link {
  text-decoration: none;
  color: var(--text-white-menu);
}
.style {
  list-style: none;
}

header {
  background: #213;
  color: white;
  display: grid;
  grid-auto-flow: column;
  height: 40px;
  padding: 0 10px;
}

.header_wrap {
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

nav {
  height: inherit;
}

ul {
  display: flex;
  height: inherit;
}

li {
  height: inherit;
}

li a {
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

li a:hover {
  color: var(--btn-green);
}

@media screen and (max-width: 767px) {
  .header_wrap {
    height:initial;
    position: fixed;
    background: #213;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: initial;
    padding:10px;
  }

  li a {
    padding: 10px 0;
  }
  ul {
    display: initial;
  }
  li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .btn {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
  }

  }
}
