<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="grid-flex.css?v=1" />
    <link rel="stylesheet" href="Util.css" />

    <title>Portafolio</title>
  </head>
  <body>
    <header>
      <figure>
        <h1>NY</h1>
      </figure>
      <div class="header_wrap">
        <nav>
          <ul class="style">
            <li><a class="link" href="#">Portafolio</a></li>
            <li><a class="link" href="#">Experiencia</a></li>
            <li><a class="link" href="#">Blog</a></li>
            <li><a class="link" href="#">Arduino</a></li>
          </ul>
        </nav>
        <a class="btn btn-green" href="#">Iniciar Sesion</a>
      </div>
    </header>

    <!-- <div class="container">
      <div class="item">1</div>
      <div class="item">2</div>
      <div class="item">3</div>
      <div class="item">4</div>
      <div class="item">5</div>
      <div class="item">6</div>
      <div class="item">7</div>
      <div class="item">8</div>
      <div class="item">9</div>
      <div class="item">10</div>
      <div class="item">11</div>
      <div class="item">12</div>
    </div> -->
  </body>
</html>
